body {
    max-width: 100%;
    max-height: auto;
}

.navbar {
    position: fixed;
    padding: 10px 15px;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

@media screen and (max-width: 570px) {
    .navbar a {
        padding: 10px 14px;
        font-size: 14px;
    }

    .navbar {
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px;
    }

    body {
        max-width: 100%;
        max-height: auto;
    }
}

.menu{
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 20%;
    left: 250%;
    transform: translate(-25%, -25%);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 5;
    width: 170px;
    height: 170px;
}

.popup {
    display: none;
    position: fixed;
    background-color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
    width: 320px;
    height: 320px;
}

.heading {
    text-align: center;
    margin-top: 50px;
    font-size: 34px;
    font-weight: bold;
}

.add {
    margin-left: 140px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
}

.add-task-btn:hover {
    background-color: #45a049;
}

.add-task-btn {
    font-size: 24px;
    padding: 10px;
   margin-left: 270px;
   margin-top: 250px;
    background-color: #000000;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 0;
}

p{
    margin-top: 9px;
}

#profile-page textarea {
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#profile-page input[type="button"], 
#profile-page button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(1, 31, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profile-page input[type="button"]:hover, 
#profile-page button:hover {
    background-color: #45a049;
}


.page {
    display: none;
    text-align: center;
    margin: 50px;
}

#note-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 15px;
    
    max-width: 150px;
    height: auto;
}

#note-list li{
   background-color: #6d6b6b;
    border-radius: 10%;
   color: white;
   padding: 20px 30px;
   margin-bottom: 20px;

}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(5, 36, 5);
    color: white;
}

button:hover {
    background-color: #10232e;
}

.home{
    font-weight: bolder;
    font-size: 50px;
}

#date {
    
    font-weight: lighter;
    font-size: 22px;
}

select {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

select option {
    padding: 10px;
    font-size: 16px;
}

select:focus, button:focus {
    outline: none;
    border: 1px solid #1b5475;
}

select option[value="happy"],
select option[value="sad"],
select option[value="silly"],
select option[value="confused"],
select option[value="angry"],
select option[value="blessed"] {
    background-color: pink;
}

#quote-text {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: #0e0b0b;
}

.popup.show {
    display: block;
}

#todo-app {
    text-align: center;
    margin-top: 190px;


}

#new-task {
    width: calc(100% - 40px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#task-list li button:hover {
    background-color: #d31f2f;
}

#task-list li.completed span {
    text-decoration: line-through;
    color: #888;
}

#task-list li input[type="checkbox"] {
    margin-right: 10px;
}

.settings-class {
    margin-top: 20px;
    font-size: 36px;
}

.settings-class h1, label {
    color: black;
}

.close {
    background-color: #333;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
}

label {
    font-size: 25px;
}

option {
    padding: 10px 20px;
    font-size: 17px;
}

.settings-slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: rgb(236, 235, 235);
    box-shadow: 1px solid rgb(150, 148, 148);
    padding: 20px;
    transition: left 0.3s;
    z-index: 10;
    display: none;
}

.settings-slide-in.open {
    display: block;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #080808;
    color: white;
}


